* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color:#333;
	font-size: 12px;
}
body {
	font-family: Arial, Verdana, Sans-serif;
	text-align: center;
	padding: 30px 0;
	line-height: 20px;
	background: #172d3b;
}
#wrapper,#images {
	width:675px;
	text-align: left;
}
#wrapper {
	margin: 0 auto;
}
#images {
	list-style: none;
}
#images li {
	float: left;
	display: block;
	width: 200px;
	height: 220px;
	cursor: pointer;
	background:#fff;
	margin: 0 5px 5px 0;
	padding:10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#images li.active {
	background:#4c96d8;
}
#images li span {
	font-weight: bold;
}










